# --- Environment and Caches ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Training Logs (The bulky stuff) ---
wandb/
runs/
latest-run
debug.log
output.log
*.tfevents.*

# --- Local Artifacts ---
artifacts/
ratings/
*.pth
*.pt